*{  /*Zerar os padrões da pagina  */
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    overflow-x: hidden; /* utilizado para a pagina não rolar */
    font-family: 'Poppins', sans-serif;
}

.header-section {
    width: 100%; /*Largura de 100% da pagina*/
    height: 840px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("./assets/header-1.png");
    background-size: cover;
    background-position: center;
    padding: 0px 20px;
}

.header-logo{ /*Div que segura o logo da pagina na section e o h1*/
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-icon { /*Dimensionando logo*/
    width: 87px;
    height: 80px;
}
h1{
    color: #ffff ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 324px;
    height: 81px;
    font-size: 42px;
}

.artigo-section-1{
    width: 100%;
    max-width: 520px;
    height: 208px;
}
.artigo-section-1 h2{
    width: 100%;
    color: #ffff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
    margin-top: 59px;




}
.artigo-section-1 p{
    color: #ffff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;



}
.container-icons{
    width: 100%;
    max-width: 566px;
    height: 136px;
    position: relative;
    display: flex;
    flex-wrap: nowrap; /*itens alinhados */
    margin-top: 87px;

}
.group-1 img{
    width: 110px;
    height: 110px;
    display: block;
    gap: 50px;
    
}
.group-1 p {
   margin-top: 10px;
   color: #ffff;
   font-weight: bold;
}
.group-2 img{
    width: 110px;
    height: 110px;
    display:flex ;
    gap: 50px;
}
.group-2 p {
    margin-top: 10px;
    color: #ffff;
    font-weight: bold;
 }
.group-3 img{
    width: 110px;
    height: 110px;
    display:flex ;
    gap: 50px;
}
.group-3 p {
    margin-top: 10px;
    color: #ffff;
    font-weight: bold;
 }
.ajude-me{
    width: 192px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.button{
    width: 192px;
    height: 62px;
    position: absolute;
    background-color: #50B2EA;
    border: none;
    font-size: 18px;
    color: #ffff;
    font-weight: bold;
    border-radius: 10px ;
    cursor: pointer;
 }

.medium-section{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container-back{
    width: calc(50% + 20px);
    height: 763px;
    background-color: #50B2EA;
    margin: 0 -20px 0  auto;
}
.container-infos{
    width: 100%;
    max-width:1200px;
    height: 509px;
    position: absolute;
    background-color: #50B2EA;
    border-radius: 40px;
    display:flex ;
}
.container-infos img{
    width: 50%;
    height: 509px;
    margin: 0 0 0 auto;
    object-fit: cover
}
.text-infos{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
   
}
.text-infos h3{
    color: #ffff;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.text-infos .more{
    font-size: 14px;
    color: #19435A;
    width: 520px;
    height: 110px;
    margin: 0;
}
.text-infos .line{
    color: #ffff;
    font-weight: bold;
    margin: 0;
}
.text-infos span{
    padding-right: 40px;

}
.section2-button{
    width: 192px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -62px;
    padding-bottom: 35px;
    
    
}
.section2-button .button2{
    width: 192px;
    height: 62px;
    position: relative;
    background-color: #50B2EA;
    border: 2px solid  #ffff;
    font-size: 18px;
    color: #ffff;
    font-weight: bold;
    border-radius: 10px;
    
}
.section-services{ 
    width: 100%;
    height: 674px;
    display: flex;
    justify-content: center;
    background-image: url("/Lading-page2-master/assets/Group\ 28.png");
    padding:  0px 20px;
} 
.section-services h3{
    font-size: 50px;
    color: #ffff;
    font-weight: bold;
    position: absolute;
    text-align:center;
    margin-top: 45px;
}

.container-services{
    width: 966px;
    height: 180px;
    display: flex;
    flex-wrap: nowrap; /*itens alinhados */
    justify-content: center;
    margin-top: 150px;
    gap: 50px;
}
.group img{
    width: 180px;
    height: 180px;
    display:flex ;
    gap: 50px;
}
.group p {
    margin-top: 10px;
    color: #19435A;
    font-weight: bold;
}
.service-button{
    width: 192px;
    height: 62px;
    margin-top: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
 .service-button .button3{
    width: 192px;
    height: 62px;
    position: absolute;
    background-color: #50B2EA;
    border: 2px solid  #ffff;
    font-size: 18px;
    color: #ffff;
    font-weight: bold;
    border-radius: 10px;
 }
 .section-testy{
    width: 100%;
    height: 718px;
    background-color: #50B2EA;
    padding:  0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    gap: 20px;

 }
 .section-testy .titulo{
    color: #ffffff;
    font-size: 50px;
    
   
    font-weight: bold;
}
.container-comentarios{
    width: 100%;
    max-width:1200px ;
    display: flex;
    gap: 46px;
}
.container-comentarios .comments{
    width: 100%;
    height: 233px;
    background-color: #ffff;
    border-radius: 40px;
    
}


.contact-us{
    width: 100%;
    height: 520px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding:  0px 20px;
}
.contact-us .contato{
    font-size: 50px;
    color: #50B2EA;
    font-weight: bold;
    padding-bottom: 40px;
  
    
}
.input-name{
    width: 370px;
    height: 64px;
    
    border: none;
    text-align: center;
    border-radius:40px;
    background-color: #50B2EA;
    align-items: center;
    
}
.input-number{
    width: 370px;
    height: 64px;
    
    border: none;
    text-align: center;
    border-radius:40px;
    background-color: #50B2EA;
    align-items: center;
  
}
.input-email{
    width: 370px;
    height: 64px;
    
    border: none;
    text-align: center;
    border-radius:40px;
    background-color: #50B2EA;
    align-items: center;
    
}
.enviar{
    width: 148px;
    height: 64px;
    border:none;
    border-radius: 40px;
    background-color: #50B2EA;
 
}
.rodape{
    width: 100%;
    height: 80px;
    background-color: #19435A;
}
 


